@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-500 dark:text-slate-400 bg-slate-50 dark:bg-[#0B1120];
  }
}
@layer utilities {
  .aspect-w-1 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 1;
  }
  .aspect-h-1 {
    --tw-aspect-h: 1;
  }

  .dark .radial-gradiant-highlight {
    background-image: radial-gradient(
      circle at 50%,
      rgba(255, 255, 255, 0.25),
      transparent 50%
    );
  }

  .radial-gradiant-highlight {
    background-image: radial-gradient(
      circle at 50%,
      rgba(15, 23, 42, 0.25),
      transparent 50%
    );
  }
}
